<!-- contact.html -->
{% extends 'base.html' %}
<!-- this uses the base.html where the boiler plate are used -->

{% load static %}
<!-- to use contact.css in this page -->

{% block title %}Contact Us{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/contact.css' %}" />
{% endblock %}

{% block content %}
<!-- now all the html are used here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'CSS/contactus.css' %} "/>
    
</head>
<body>
    <div class="container">
        <h1 >Contact Us</h1>
                <div class="contact-info">
            <h3>Direct Contact</h3>
            <p>Email: <a href="mailto:support@eventapp.com">support@eventapp.com</a></p>
            <div class="phone">
                <p>Or call us directly: <a href="tel:+977 9840306007">+977 9840306007</a></p>
               
            </div>
           
        </div>
        <div class="form-container">
            <h2>Contact Us</h2>
            <p>Have questions, feedback, or need assistance? Fill out the form below or reach out to us directly. We're here to help!</p>
            <form action="/submit" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Your Email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Submit</button>
                  
                </div>
            </form>
        </div>   
        
    </div>
</body>
</html>


{% endblock %}