{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Event Details
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/Pages/event_edit.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/Features/noti.css' %}" />
{% endblock %}

{% block downbar %}
{% endblock %}
{% block extra_js%}
<script>
    function previewImage(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('event-image-preview');

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    }
</script>
{% if tickets and events %}
<script>
    const ticketCount = {{ tickets.count }};
    const maxTicketTypes = {{ event.tickettypeno }};

    const ticketFormContainer = document.getElementById('ticket-form-container');

    if (ticketCount >= maxTicketTypes) {
        if (ticketFormContainer) {
            ticketFormContainer.style.display = 'none';
        }
    }
</script>
{% endif %}
<script src="{% static 'JS/event_edit.js' %}">
    document.cookie = "csrftoken={{ csrf_token }}";
</script>

<script src="{% static 'JS/ellipsis.js' %}">document.cookie = "csrftoken={{ csrf_token }}";</script>

{% endblock %}
{% block content %}
<div class="edit-event-container">
    <div class="event-edit-form">
        <h2>Edit Event</h2>
        <form id="form-edit-events">

            <label for="title" class="input-label">Event ID:</label>
            <div class="input-container">
                <input type="text" id="event_id" name="event_id" value="{{ event.event_id }}" readonly />
            </div>

            <label for="title" class="input-label">Event Title:</label>
            <div class="input-container">
                <input type="text" id="title" name="title" value="{{ event.title }}"
                    placeholder="Enter event title..." />
            </div>

            <label for="event_date" class="input-label">Event Date:</label>
            <div class="input-container">
                <input type="date" id="event_date" name="event_date" value="{{ event.event_date|date:'Y-m-d' }}" />
            </div>


            <label for="event_time" class="input-label">Event Time:</label>
            <div class="input-container">
                <input type="time" id="event_time" name="event_time" value="{{ event.event_time|time:'H:i' }}" />
            </div>

            <label for="location" class="input-label">Location:</label>
            <div class="input-container">
                <input type="text" id="location" name="location" value="{{ event.location }}"
                    placeholder="Enter event location..." />
            </div>

            <div class="ticket">
                <label class="ticket-custom-checkbox">
                    <div class="input-container"></div>
                    <input type="checkbox" id="has_ticket" {% if event.has_ticket %}checked{% endif %} disabled />
                    <span class="ticket-checkmark"></span>
                    <h3>: ticket</h3>
                </label>
            </div>

            {% if user.role == 'admin' %}
            <div class="ticket">
                <label class="ticket-custom-checkbox">
                    <input type="checkbox" id="is_billboard" {% if event.is_billboard %}checked{% endif %} />
                    <span class="ticket-checkmark"></span>
                    <h3>: billboard</h3>
                </label>
            </div>
            {% endif %}
            {% if user.role == 'admin' %}
            <div class="ticket">
                <label class="ticket-custom-checkbox">
                    <input type="checkbox" id="is_deleted" {% if event.is_deleted %}checked{% endif %} />
                    <span class="ticket-checkmark"></span>
                    <h3>: deleted</h3>
                </label>
            </div>
            {% endif %}
            <label for="event-image" class="input-label">Event Image:</label>
            <label class="custom-file-upload">
                <input type="file" id="event_image" name="event_image" accept="image/*"
                    onchange="previewImage(event)" />
                choose file
            </label>

            <!-- Image Preview -->
            {% if event.event_image %}
            <img id="event-image-preview" src="{{ event.event_image.url }}" alt="Event Image"
                style="max-width: 300px; margin:10px auto 10px auto; height:100px; border:1px solid #bbb;">
            {% else %}
            <img id="event-image-preview" src="" alt="Event Image"
                style="max-width: 300px; margin:10px auto 10px auto; display: none; height:100px; border:1px solid #bbb;">
            {% endif %}

            {% if event.has_ticket %}
            <label for="ticket-typeno" class="input-label">No of Ticket type:</label>
            <div class="input-container">
                <input type="number" id="ticket-typeno" name="ticket-typeno" value="{{event.tickettypeno}}" />
            </div>
            {% endif %}
            
            <div class="inspect-div" style="margin-top: 20px;">
                <button type="submit" class="inspect">
                    save changes
                </button>
            </div>
        </form>
    </div>
</div>
<div class="added-noti-container">
</div>
{% if event.has_ticket %}
{% if tickets|length < event.tickettypeno %} <div class="edit-event-container" id="ticket-form-container">
    <div class="event-edit-form" >
        <h2>Ticket Information</h2>
        <form id="form-ticket-type">
            <label for="ticket-name" class="input-label">Name:</label>
            <div class="input-container">
                <input type="text" id="ticket-name" name="ticket-name" autocomplete="off" placeholder="Enter ticket type name..." />
            </div>
            <span id="ticket-name-error" class="error-message"></span>

            <label for="ticket-price" class="input-label">Ticket Price:</label>
            <div class="input-container">
                <input type="number" id="ticket-price" name="ticket-price" autocomplete="off" placeholder="Enter ticket price..." />
            </div>
            <span id="ticket-price-error" class="error-message"></span>

            {% comment %} <label for="ticket-available" class="input-label">Ticket Available:</label>
            <div class="input-container">
                <input type="number" id="ticket-available" name="ticket-available"
                    placeholder="Enter ticket available..." />
            </div> {% endcomment %}


            <label for="ticket-date" class="input-label">Checkbox for custom date input:</label>
            <div class="ticket">
                <label class="ticket-custom-checkbox">
                    <input type="checkbox" id="ticket-date" />
                    <span class="ticket-checkmark"></span>
                    <h3>:Ticket Date</h3>
                </label>
            </div>
            <div class="custom-date" id="custom-date-container">
                <label for="ticket-start" class="input-label">Ticket Start Date:</label>
                <div class="input-container">
                    <input type="date" id="ticket-start" name="ticket-start" />
                </div>
                <label for="event_date" class="input-label">Ticket End Date:</label>
                <div class="input-container">
                    <input type="date" id="ticket-end" name="ticket-end" />
                </div>
            </div>


            <div class="inspect-div">
                <button type="submit" class="inspect">
                    save ticket
                </button>
            </div>
        </form>
    </div>
    </div>
    {% endif %}
    {% endif %}






    <div class="edit-event-container" id="ticket-edit-container">
        <div class="ticket-edit-form">

            <table class="ticket-table">
                <thead>
                    <tr>
                        <th>Ticket Name</th>
                        <th>Price</th>
                        {% comment %} <th>Available Quantity</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.name }}</td>
                        <td>Rs {{ ticket.price }}</td>
                    </tr>
                    {% empty %}
                    <tr id="no-tickets-row">
                        <td colspan="2">No tickets available.</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>



        </div>

    </div>

    <br><br>

    {% endblock %}