{% extends 'base.html' %}

{% load static %}

{% block title %}Events{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
{% endblock %}

{% block content %}
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1>EVENT MANAGEMENT SYSTEM</h1>
      <h2>
        Your one-stop platform for discovering and joining exciting events!
      </h2>
      <p>
        Explore a wide range of events, from concerts to conferences, sports,
        and community gatherings. Our platform makes it easy to browse,
        register, and participate in exciting events!
      </p>
      <a href="#" id="hero-login-btn" class="login-hero">Login</a>
    </div>
  </section>
  <script src="{% static 'JS/script.js' %}"></script>
{% endblock %}
