.form-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000;
}

.form-box {
    background-color: #111;
    padding: 40px 40px;
    border-radius: 10px;
    width: 330px;
    position: relative;
    color: var(--fontcolor);
    text-align: center;
    box-shadow:
        0 0 20px rgba(0, 153, 255, 0.8),
        0 0 30px rgba(0, 153, 255, 0.6),
        0 0 60px rgba(0, 153, 255, 0.4);
}

.form-box h2 {
    margin-bottom: 10px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--fontcolor);
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-label {
    margin-top: 20px;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 4px;
    font-size: 1.2rem;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

#togglePasswordSignup,
#toggleConfirmPassword,
#togglePasswordLogin{
    font-size: 1.1rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
    font-family: 'Montserrat', sans-serif;
    width:100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1a1a1a;
    font-size: 1.1rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: white;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-background-clip: text;
    background-color: #1a1a1a;

}

.remember-me {
    margin-top: 20px;
    display: flex;
    padding: 0;
    height: 30px;
}



.inspect-div {
    text-align: center;
}

.inspect {
    width: 100%;
    padding: 10px;
    background-color: #aaa;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.inspect:hover {
    background-color: #999;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}


.another-link {
    font-size: 14px;
    margin-top: 15px;
}

.another-link a {
    color: var(--fontcolor);
    text-decoration: underline;
    font-weight: bold;
}


.resend-otp {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
}

.resend-otp a {
    color: var(--fontcolor);
    text-decoration: none;

}

.resend-otp a:hover {
    text-decoration: underline;
}



.error-message {
    color: #ff4d4d;
    margin-top: 5px;
    font-size: 14px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: start;
}

input:invalid {
    border: 2px solid red;
}



.custom-checkbox {
    display: flex;
    align-items: center;
    height: 100%;
}

.custom-checkbox h3 {
    color: #E7E7E7;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.checkmark {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
    background-color: white;
}

input[type="checkbox"]:checked+.checkmark::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 16px;
}

.role-selection {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

input[type="radio"] {
    display: none;
}

.role-label {
    position: relative;
    display: flex;
    color: black;
    font-size: 16px;
    background-color: var(--fontcolor);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.role-label::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 5px;
}

input[type="radio"]:checked+.role-label {
    background-color: black;
    color: white;
}

input[type="radio"]:checked+.role-label::before {
    height: 12px;
    width: 12px;
    border: 3px solid var(--fontcolor);
    background-color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
    border: none;
}

textarea {
    resize: none;
}