
.event-detail-container{
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.detail-container {
    background: #111; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 90%;
    max-width: 600px;
    color: #fff; 
    transition: 0.4s;
}
.detail-container:hover{
    background: #000;
    box-shadow:
        0 0 20px rgba(0, 153, 255, 0.8),
        0 0 30px rgba(0, 153, 255, 0.6),
        0 0 60px rgba(0, 153, 255, 0.4);
}
.detail-container h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd; 
    padding-bottom: 10px;
}

.detail-container p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 10px 0;
}

.detail-container p strong {
    color: white;
}

@media (max-width: 768px) {
    .detail-container {
        padding: 15px 20px;
    }

    .detail-container h1 {
        font-size: 1.8em;
    }
}

