/* General styles */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(135deg, #1a103e, #3e2c8d);
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}




.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #1d1155, #3e2c8d);
  padding: 25px 0px;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.horizontal-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

.horizontal-bar li {
  font-size: 1.3rem;
  position: relative;
  font-weight: 500;
}
.horizontal-bar li i{
  font-size: 1.3rem;
}
.horizontal-bar .logo {
  margin-right: auto;
  color: var(--fontcolor);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.horizontal-bar .logo:hover {
  cursor: default;
  color: #ccc;
}

.horizontal-bar a {
  text-decoration: none;
  color: var(--fontcolor);
  transition: color 0.3s ease;
  position: relative;
  align-items: center;
}
.horizontal-bar li a i{
  font-size: 1.1rem;
  transform: translateY(-2px);
  margin-right: 5px;
}
.horizontal-bar a:hover {
  color:var(--mainfonthover);
}

.horizontal-bar a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background:var(--mainfonthover);
  transition: width 0.2s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.horizontal-bar a:hover::after {
  width: 100%;
}

.horizontal-bar .nav-login {
  margin-right: 40px;
  margin-left: auto;
}

.navi-open-btn {
  display: none;
}















.navbar-container nav {
  flex-direction: column;
  position: fixed;
  background: linear-gradient(135deg, #1a103e, #3e2c8d);
  border-radius: 10px;
  width: 400px;
  position: relative;
  color: var(--fontcolor);
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

}

.navbar-container ul {
  position: relative;
  backdrop-filter: blur(10px);
  list-style: none;
  padding: 0;
}

.navbar-container li {
  text-align: center;
  border-bottom: 1px soild #000;
  padding: 30px 0px;
  font-weight: 600;
}

.navbar-container a {
  color: var(--fontcolor);
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
}

.navbar-container a:hover {
  color:var(--mainfonthover);
}

.navbar-container i {
  font-size: 2rem;
  cursor: pointer;
}


































.login-container,
.signup-container,
.otp-container,
.register-container,
.contact-container,
.navbar-container,
.event1-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}


.form-box {
  background: linear-gradient(135deg, #1a103e, #3e2c8d);
  padding: 40px 40px;
  border-radius: 10px;
  width: 330px;
  position: relative;
  color: var(--fontcolor);
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.form-box h2 {
  margin-bottom: 10px;
}


.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: var(--fontcolor);
  font-size: 20px;
  cursor: pointer;
}


form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.input-label {
  margin-top: 20px;
  margin-left: 5px;
  text-align: left;
  margin-bottom: 4px;
  font-size: 16px;
}


input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d3d3d3;
  font-size: 16px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: none;
}

.remember-me {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  margin-bottom: 3px;
}

.remember-me input {
  margin-right: 5px;
}

/* Login button styling */
.login-btn {
  background-color: #111;
  color: var(--fontcolor);
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-btn:hover {
  background-color: #000;
  text-decoration: underline;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.395);
}

.signup-text {
  font-size: 14px;
  margin-top: 15px;
}

.signup-text a {
  color: var(--fontcolor);
  text-decoration: underline;
  font-weight: bold;
}


.resend-otp {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
}

.resend-otp a {
  color: var(--fontcolor);
  text-decoration: none;

}

.resend-otp a:hover {
  text-decoration: underline;
}



.error-message {
  color: #ff4d4d;
  margin-top: 5px;
  font-size: 14px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  text-align: start;
}

input:invalid {
  border: 2px solid red;
}



/* profile container */
.profile-container {
  border: 1px solid #111;
  position: fixed;
  display: none;
  background: linear-gradient(135deg, #1a103e, #332382);
  color: var(--fontcolor);
  top: 60px;
  right: 30px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  z-index: 1000;
  /* box-shadow:
        0 0 20px rgba(0, 153, 255, 0.8),
        0 0 30px rgba(0, 153, 255, 0.6),
        0 0 60px rgba(0, 153, 255, 0.4); */
}

.profile-container .username {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-container .email {
  font-size:1.1rem;
  margin-bottom: 15px;
}

.profile-container .menu-item {
  margin: 10px 0;
}

.profile-container .menu-item a {
  color: var(--fontcolor);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px;
  border-radius: 10px;
  transition: background-color 0.3s;
  background-color: #111;
}

.profile-container .menu-item a:hover {
  background-color: #000;
  text-decoration: underline;
}
.profile-container .menu-item a i{
  font-size: 1.1rem;
  margin-right: 5px;
  text-decoration: none;
}
.profile-container .menu-item a:hover i {
  text-decoration: none;
}

















.role-selection {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}

.role-label {
  position: relative;
  display: flex;
  color: black;
  font-size: 16px;
  background-color: var(--fontcolor);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.role-label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

input[type="radio"]:checked+.role-label {
  background-color: black;
  color: white;
}

input[type="radio"]:checked+.role-label::before {
  height: 12px;
  width: 12px;
  border: 3px solid var(--fontcolor);
  background-color: black;
}




@media (max-width: 900px) {
  .hideonMobile {
    display: none;
  }

  .navi-open-btn {
    display: block;
    background: none;
    border: none;
    color: var(--fontcolor);
    font-size: 1.5rem;
    margin-left: 40px;
  }
}

footer {
  background-color: #111;
  padding: 20px;
  padding-bottom: 30px;
  bottom: 0;
  left: 0;
}

.footer-container {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-icons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
  padding: 15px;
  margin: 15px;
  background-color: var(--fontcolor);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.social-icons a i {
  font-size: 2.2rem;
  color: black;
  opacity: 0.9;
}

.social-icons a:hover {
  background-color: #000;
  transition: 0.5s;
}

.social-icons a:hover i {
  color: var(--fontcolor);
  transition: 0.5s;
}

.footer-nav {
  margin: 0;
  padding: 0;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  white-space: normal;
}

.footer-nav ul li a {
  color: var(--fontcolor);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  transition: 0.3s;
}

.footer-nav ul li a:hover {
  color: var(--mainfonthover);
  text-decoration: underline;
}













@media (max-width: 600px) {



  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .social-icons {
    flex-direction: column;
  }

  .social-icons a {
    padding: 15px;
    margin: 5px;
    width: 10px;
    height: 10px;
  }

  .social-icons a i {
    font-size: 1.8rem;
  }

  .footer-nav ul {
    flex-direction: column;
  }
  .footer-nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-top: 10px;
  }
  .footer-nav ul li{
    width: 100%;
  }





}
  @media (max-width: 500px) {


  .hideonMobile {
    display: none;
  }

  .horizontal-bar {
    gap: 15px;
  }

  .navi-open-btn {
    display: block;
    background: none;
    border: none;
    color: var(--fontcolor);
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .horizontal-bar .nav-login {
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .navbar-container nav {
    width: 330px;
  }

  .navbar-container a {
    font-size: 1.5rem;
  }
}