.event-not-found {
    text-align: center;
}



.event-form-toggle {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

input[type="radio"] {
    display: none;
}

.event-add-event-toggle {
    font-size: 1.2rem;
    position: relative;
    display: flex;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.event-add-event-toggle::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: white;

}

input[type="radio"]:checked+.event-add-event-toggle::before {
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background-color: white;
}




input[type="file"] {
    display: none;
}

.custom-file-upload {
    margin: 5px auto 0 auto;
    width: 40%;
    padding: 10px;
    background-color: #aaa;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;

}

.custom-file-upload:hover {
    background-color: #999;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}





#event-basic,
#event-extra-detail {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}





.ticket {
    margin-top: 20px;
    display: flex;
    padding: 0;
    height: 35px;
}

.ticket-custom-checkbox {
    display: flex;
    align-items: center;
    height: 100%;
}

.ticket-custom-checkbox h3 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

input[type="checkbox"] {
    display: none;
}

.ticket-custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.ticket-checkmark {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
    background-color: #1a1a1a;
}

input[type="checkbox"]:checked+.ticket-checkmark::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
    flex-wrap: wrap;
}

.pagination a {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #aaa;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.pagination a:hover {
    background-color: #999;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.pagination span {
    display: inline-block;
    padding: 8px 16px;
    background-color: #bbb;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

