{% load static %}
{% comment %} to use static for the link css and js {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>

    



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/Features/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Features/downbar.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Features/scroll.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Features/color.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Features/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Features/form.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Features/profile.css' %}" />
    {% block extra_css %}{% endblock %}








    <script src="{% static 'JS/login.js' %}">
        document.cookie = "csrftoken={{ csrf_token }}";
    </script>
    <script src="{% static 'JS/opencontainer.js' %}"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
    {% block navbar %}{% include 'navbar.html' %}{% endblock %}
    {% if show_downbar %}
    {% block downbar %}{% include 'downbar.html' %}{% endblock %}
    {% endif %}
    
    
    {% block content %}{% endblock %}

    {% block footer %}
    <footer>
        <div class="footer-container">
            <div class="social-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="" id="contact-footer-btn">Contact Us</a></li>
                    <li><a href="{% url 'ourteam' %}">Our Team</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>


</html>
