.add-search {
    max-width: 700px;
    display: flex;
    margin: 10px auto 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-box {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
    background-color: #1a1a1a;
    padding: 2px;
    border-radius: 10px;
    box-shadow:
        0 0 2px rgba(0, 153, 255, 0.8),
        0 0 4px rgba(0, 153, 255, 0.6),
        0 0 8px rgba(0, 153, 255, 0.4);
}

.search-box input[type="text"] {
    width: 100%;
}

.search-box input[type="text"]:focus {
    outline: none;
    border: 2px solid transparent;
}

.search-bar {
    width: 40px;
    height: 30px;
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.filter {
    font-size: 1.1rem;
    background-color: #aaa;
    border: none;
    color: #000;
    padding: 6px 8px 6px 8px;
    margin-right: 3px;
    border-radius: 5px;
    cursor: pointer;
}











.add-event {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-event-btn {
    width: 100%;
    padding: 10px 10px;
    background-color: #aaa;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.add-event-btn:hover {
    background-color: #999;
    box-shadow: 0 3px 6px rgba(0, 123, 255, 0.3);
}

















.filter-container{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000;
}
.filter-sub-container{
    background-color: #111;
    padding: 40px 40px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;
    position: relative;
    color: var(--fontcolor);
    text-align: center;
    box-shadow:
        0 0 5px rgba(0, 153, 255, 0.8),
        0 0 8px rgba(0, 153, 255, 0.6),
        0 0 15px rgba(0, 153, 255, 0.4);
}
.filter-sub-container h3{
    font-size: 1.3rem;
    color: #bbb;
    font-weight: 500;
    line-height: 1.5rem;
}
.select-box{
    margin: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.select-type{
    flex: 1 1 200px;
    max-width: 200px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #bbb;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
}
.select-type select{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    appearance: none;
    cursor: pointer;
    font-size: 1rem;
    padding:5px 10px 5px 10px;
    min-width: 80px;
}
.select-type option{
    font-size: 1rem;
    line-height: 1.3rem;
    background-color:#111;
    padding:5px 10px 5px 10px;
    color: white;
}
.select-type option:hover{
    background-color: #000;
}
.filter-btn-div{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-btn {
    margin-top: 40px;
    width: auto;
    padding: 10px;
    background-color: #aaa;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}

.filter-btn:hover {
    background-color: #999;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}












@media (max-width: 1024px) {
    .add-search {
        max-width: 600px;
        flex-direction: column;
        gap: 20px;
    }
    .search-box {
        width: 100%;
    }
    .search-box input[type="text"] {
        width: calc(100% - 40px);
    }
    .search-bar {
        width: 30px;
        height: 25px;
    }
    .filter {
        font-size: 1rem;
        padding: 6px 8px;
    }
    .add-event {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .add-search {
        max-width: 500px;
        flex-direction: column;
        gap: 20px;
    }
    .search-box {
        width: 100%;
    }
    .search-box input[type="text"] {
        width: calc(100% - 40px);
    }
    .search-bar {
        width: 30px;
        height: 25px;
    }
    .filter {
        font-size: 1rem;
        padding: 6px 8px;
    }
    .add-event {
        width: 280px;
    }
}

@media (max-width: 500px) {
    .add-search {
        max-width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .search-box {
        width: 100%;
    }
    .search-box input[type="text"] {
        width: calc(100% - 40px);
    }
    .search-bar {
        width: 25px;
        height: 20px;
    }
    .filter {
        font-size: 0.9rem;
        padding: 6px 8px;
    }
    .add-event {
        width: 200px;
    }
    .add-event-btn {
        font-size: 1rem;
        padding: 15px;
    }
    .filter-sub-container {
        width: 100%;
        padding: 20px;
    }
    .select-type {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .select-type select {
        width: 100%;
    }
    
    .search-box {
        width: 300px;
        gap: 2px;
        
    }
    .search-bar {
        width: 40px;
        height: 30px;
        border: none;
        font-size: 1.2rem;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 360px) {
    .add-search {
        max-width: 100%;
        gap: 5px;
    }
    .search-box {
        width: 100%;
    }
    .search-box input[type="text"] {
        width: calc(100% - 40px);
    }
    .filter {
        font-size: 0.9rem;
        padding: 5px 8px;
    }
    .add-event {
        width: 180px;
    }
    .add-event-btn {
        font-size: 0.9rem;
        padding: 12px;
    }
    .filter-sub-container {
        width: 100%;
        padding: 10px;
    }
    .select-type {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .select-type select {
        width: 100%;
    }
}
